@page
@model Almoxarifado.Pages.Cadastros.Produto.ErrorModel
@{
}

<div class="text-danger bg-warning text-center">
    <h3>Codigo ou Nome já existente, favor verifique.</h3>
</div>
<a class="btn btn-primary" asp-page="./Create"> Cadastrar</a>