@page
@model Almoxarifado.Pages.Cadastros.Produto.TesteModel

@{
    ViewData["Title"] = "Teste";
}

<h1>Teste</h1>

<h4>GProduto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GProduto.GPrudutoUnidadeId" class="control-label"></label>
                <select asp-for="GProduto.GPrudutoUnidadeId" class ="form-control" asp-items="ViewBag.GPrudutoUnidadeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GProduto.Codigo" class="control-label"></label>
                <input asp-for="GProduto.Codigo" class="form-control" />
                <span asp-validation-for="GProduto.Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GProduto.Descricao" class="control-label"></label>
                <input asp-for="GProduto.Descricao" class="form-control" />
                <span asp-validation-for="GProduto.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GProduto.ContaContabil" class="control-label"></label>
                <input asp-for="GProduto.ContaContabil" class="form-control" />
                <span asp-validation-for="GProduto.ContaContabil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GProduto.CAEDespesa" class="control-label"></label>
                <input asp-for="GProduto.CAEDespesa" class="form-control" />
                <span asp-validation-for="GProduto.CAEDespesa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
