@page
@model Almoxarifado.Pages.Execucao.Entrada.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar Entrada</h1>

-Cadastrar entrada

-Selecionar itens dos produtos -> Salvar entrada item
 
-Atualizar estoque

